<table>
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Alias</th>
    <th>Email</th>
    <th>Role</th>
    <th>Bug count</th>
    <th>Links</th>
  </tr>
<% @users.each do |user| %>
  <tr>
    <td><%= user.id %></td>
    <td><%= user.name %></td>
    <td><%= user.alias %></td>
    <td><%= user.email %></td>
    <td><%= user.role %></td>
    <td><%= user.bugs.count %></td>
    <td><%= link_to 'Show', user %> <%= link_to 'Edit', edit_user_path(user.alias) %></td>
  </tr>
<% end %>

</table>
