<table>
  <tr>
    <th>ID</th>
    <th>TFS ID</th>
    <th>Status</th>
    <th>Drop folder</th>
    <th>Requestor</th>
    <th>Tester</th>
    <th>Buttons</th>
  </tr>
<% @bugs.each do |bug| %>
  <tr>
    <td><%= bug.id %></td>
    <td><%= link_to bug.tfs_id, bug.link_to_tfs %></td>
    <td><%= bug.status %></td>
    <td><%= bug.drop_folder %></td>
    <td><%= bug.requestor.name if bug.requestor %></td>
    <td><%= bug.tester.name    if bug.tester %></td>
    <td><%= link_to 'Show', bug %> <%= link_to 'Edit', edit_bug_path(bug) %></td>
  </tr>
<% end %>

</table>

<%= link_to "New bug", new_bug_path %>
